/*-------------------
    RESET
-------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-------------------
    COMMON
-------------------*/
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
}
.green-container {
    width: 100%;
    height: 120px;
    background-color: #009688;
}

.grey-container {
    width: 100%;
    height: 100vh;
    background-color: #DBDBD2;
}

.chat-container {
    width: 1000px;
    margin: -100px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.contact-list {
    width: 30%;
    height: 100%;
    background-color: #E6DFD6;
}

.chat-window {
    width: 70%;
    height: 639px;
    background-image: url(../img/mine.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search {
    width: 90%;
    font-size: 10px;
}

.search-icon{
    margin: auto 5px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-box {
    list-style: none;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-top: 0.5px solid lightgray
}

.sent{
    background-color: white;
    max-width: 50%;
    align-self: flex-end;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.received{
    background-color: #009688;
    max-width: 50%;
    align-self: flex-start;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.msg-window {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*-------------------
    MAIN
-------------------*/
.user-box {
    height: 60px;
    background-color: #E6DFD6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px 10px;
}

.user-box-text {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user-box-text-big {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.icons {
    color: rgb(190, 190, 190);
    padding: 0 5px;
}

.notification-box {
    background-color: #8EDAFC;
    height: 60px;
    display: flex;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    margin: auto 5px;
    text-align: center;
    line-height: 40px;
    color: #8EDAFC;
}

.notification-text {
    color: black;
    font-size: 12px;
}

.grey-link {
    color: gray;
    font-size: 10px;
}
.search-bar {
    width: 95%;
    height: 25px;
    margin: 5px auto;
    background-color: white;
    font-size: 10px;
    line-height: 25px;
    color: gray;
}

.contact-box:hover {
    background-color: #F4F5F5;
}

.last-message {
    width: 100%;
    color: gray;
    font-size: 10px;
}