<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/bec049b842.js" crossorigin="anonymous"></script>
    <!-- /Fontawesome -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- /Google Fonts-->
    <title>Boolzapp</title>
</head>
<body>
    <header class="green-container"></header>
    <main class=" grey-container">
        <div id="app" class="chat-container">
            <div class="contact-list">
                <div class="user-box">
                    <img class="img-circle" src="img/avatar_io.jpg" alt="">
                    <div class="user-box-text">
                        <div>Sofia</div>
                        <div>
                            <i class="fa-solid fa-circle-notch icons"></i>
                            <i class="fa-solid fa-message icons"></i>
                            <i class="fa-solid fa-ellipsis-vertical icons"></i>
                        </div>
                    </div>
                </div>
                <div class="notification-box">
                    <div class="circle">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notification-text">
                        Ricevi notifiche di nuovi messaggi <br>
                        <a class="grey-link" href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input class="search" type="text" placeholder="Cerca o inizia una nuova chat">    
                </div>
                <ul class="contact-container">
                    <li class="contact-box contact" v-for="(contact, index) in contacts" @click="contactPosition = index">
                        <img class="img-circle" :src="`img/avatar${contact.avatar}.jpg`" alt="">
                        <div class="contact-name">{{contact.name}}</div>
                    </li>
                </ul>
            </div>
            <div class="chat-window">
                <div class="user-box">
                    <img class="img-circle" src="img/avatar_io.jpg" alt="">
                    <div class="user-box-text-big">
                        <div>Sofia</div>
                        <div>
                            <i class="fa-solid fa-circle-notch icons"></i>
                            <i class="fa-solid fa-message icons"></i>
                            <i class="fa-solid fa-ellipsis-vertical icons"></i>
                        </div>
                    </div>
                </div>
                <div class="msg-window">
                    <div class="message" v-for="message in contacts[contactPosition].messages">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/main.js"></script>
</body>
</html>